
srcs/
*.gz

# Personal/Local notes folders
_*[Ii]gnore[Mm]e/
_*[Ii]gnore_[Mm]e/
_*[Mm]y[Nn]otes/
_*[Mm]y_[Nn]otes/
_*[Mm]y_[Nn]otes/
_*[Tt]emp/
_*[Tt]mp/
_*[Nn]ot[Uu]sed/

# System Files
.DS_Store
Thumbs.db
desktop.ini
